<h1>Listing florists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @florists.each do |florist| %>
      <tr>
        <td><%= florist.name %></td>
        <td><%= link_to 'Show', florist %></td>
        <td><%= link_to 'Edit', edit_florist_path(florist) %></td>
        <td><%= link_to 'Destroy', florist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Florist', new_florist_path %>
