<%= form_for(@vendor_date) do |f| %>
  <% if @vendor_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor_date.errors.count, "error") %> prohibited this vendor_date from being saved:</h2>

      <ul>
      <% @vendor_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendor_id %><br>
    <%= collection_select(:vendor_date, :vendor_id, Vendor.all, :id, :vendor_id) %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= collection_select(:vendor_date, :service_id, Service.all, :id, :service_type) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
