<div id="calendar"><div/>
<table>
  <thead>
    <tr>
      <th>Venue</th>
      <th>Date</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_dates.each do |vendor_date| %>
      <tr>
        <td><%= Venue.find(vendor_date.vendor_id).name %></td>
        <td><%= vendor_date.date %></td>
        <td><%= Service.find(vendor_date.service_id).service_type %></td>
        <td><%= link_to 'Show', vendor_date %></td>
        <td><%= link_to 'Edit', edit_vendor_date_path(vendor_date) %></td>
        <td><%= link_to 'Destroy', vendor_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Venue date', new_vendor_date_path %>
