<h1>Listing florist_dates</h1>

<table>
  <thead>
    <tr>
      <th>Florist</th>
      <th>Date</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @florist_dates.each do |florist_date| %>
      <tr>
        <td><%= florist_date.florist_id %></td>
        <td><%= florist_date.date %></td>
        <td><%= florist_date.service_id %></td>
        <td><%= link_to 'Show', florist_date %></td>
        <td><%= link_to 'Edit', edit_florist_date_path(florist_date) %></td>
        <td><%= link_to 'Destroy', florist_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Florist date', new_florist_date_path %>
