<h1>Listing service_to_vendors</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Vendor</th>
      <th>Vendor type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_to_vendors.each do |service_to_vendor| %>
      <tr>
        <td><%= service_to_vendor.service_id %></td>
        <td><%= service_to_vendor.vendor_id %></td>
        <td><%= service_to_vendor.vendor_type_id %></td>
        <td><%= link_to 'Show', service_to_vendor %></td>
        <td><%= link_to 'Edit', edit_service_to_vendor_path(service_to_vendor) %></td>
        <td><%= link_to 'Destroy', service_to_vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service to vendor', new_service_to_vendor_path %>
