<h1>Listing photographer_dates</h1>

<table>
  <thead>
    <tr>
      <th>Photographer</th>
      <th>Date</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photographer_dates.each do |photographer_date| %>
      <tr>
        <td><%= photographer_date.photographer_id %></td>
        <td><%= photographer_date.date %></td>
        <td><%= photographer_date.service_id %></td>
        <td><%= link_to 'Show', photographer_date %></td>
        <td><%= link_to 'Edit', edit_photographer_date_path(photographer_date) %></td>
        <td><%= link_to 'Destroy', photographer_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photographer date', new_photographer_date_path %>
