<div id="calendar"><div/>
<table>
  <thead>
    <tr>
      <th>Venue</th>
      <th>Date</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venue_dates.each do |venue_date| %>
      <tr>
        <td><%= Venue.find(venue_date.venue_id).name %></td>
        <td><%= venue_date.date %></td>
        <td><%= Service.find(venue_date.service_id).service_type %></td>
        <td><%= link_to 'Show', venue_date %></td>
        <td><%= link_to 'Edit', edit_venue_date_path(venue_date) %></td>
        <td><%= link_to 'Destroy', venue_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Venue date', new_venue_date_path %>
