<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= Venue.find(@venue_date.venue_id).name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @venue_date.date %>
</p>

<p>
  <strong>Service:</strong>
  <%= Service.find(@venue_date.service_id).service_type %>
</p>

<%= link_to 'Edit', edit_venue_date_path(@venue_date) %> |
<%= link_to 'Back', venue_dates_path %>
